*{
    margin:0;
    padding:0;

}

body{
    display:grid;
    place-items: center;

}

.wrapper{
    margin-top:150px;
    display:grid;
    place-items: center;
    background-color:#101010;
    width:500px;
    height: 300px;
}

.main{
    background-color: blue;
    display:grid;
    place-items: center;
    width:300px;
    height: 150px;
    text-align:center;
}
